<%= stylesheet_link_tag :record %>
<div class="patient">
  <%= labeled_field 'Patient Name', patient_name %>

  <table id="vitals_display" border='0' height='15%' width='95%'>
    <tr><td>Height: xxxx</td><td>Weight: xxxx</td><td>Heart Rate: xxxx</td><td>S BP<br>D BP xxxxx</td></tr>
  </table>
  <div id="vitals">Physical Exam findings last updated ......</div>

  <table id="record_display" border="0" height="75%" width="95%">
    <tr>
      <td>
        <h1>Patient Information</h1>
        <div class="section">
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </td>
      <td>
        <h1>Doctor Visits</h1>
        <div class="section">
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </td>
      <td>
        <h1>Health Record Activity</h1>
        <div class="section">
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </td>
    </tr>
  </table>

  <div class="footer">Last updated on 11/11/11 by <a href='link'>Dr Rick Jones</a></div>
</div>