/**
 * Commmon color, font and macro definitions for use in the UI
 */
$title-color: #4a2527;
$link-fg: #404040;
$bg: #4B7399;

$basic-font-size: 14px;
$basic-font-family-list: Verdana, Helvetica, Arial;



