/**
 * Commmon color, font and macro definitions for use in the UI
 */
$title-color: #006;
$link-fg: #404040;
$link-hover: darken($link-fg, 30%);
$bg: white;

$basic-font-size: 14px;
$basic-font-family-list: Verdana, Helvetica, Arial;

$gutter: 5mm;

$field-fg: #448;
$value-fg: black;

$fg: black;

$out-of-range-value: red;
$header-logo-color: #2AE;