@import 'common';

.patient {
  margin-left: $gutter;
}

.labeled_field {
    display: inline-block;
    margin-right: 60px;
}

.labeled_field .label {
    display: inline-block;
    color: $field-fg;
    font-weight: bold;
}

#patient_name {
    font-size: 16px;
    font-weight: bold;
}

.labeled_field .value {
    margin-left: 20px;
    color: $value-fg;
}

.record {
    border-collapse: true;
    border: none;
    width: 100%;
    padding-left: 0;
    padding-right: $gutter;
}

.record tr:first-child td {
    border-top: none;
}

.record tr td {
    border-top: 1px solid #CCC;
}

.record tr td:first-child {
    padding-left: 0px;
}

.record tr td {
    padding-left: $gutter;
    padding-right: 0px;
    vertical-align: top;
    width: 50%;
}

.record h1 {
    font-size: 13px;
    text-align: center;
}

.record .labeled_field {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.record .labeled_field .label {
    display: inline-block;
    color: $link-fg;
    font-weight: bold;
    text-align: left;
    width: 60%;
}

.record .labeled_field .value {
    margin-left: 20px;
    color: $value-fg;
    text-align: right;
    width: 40%;
}

.record .med_field {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.record .med_field .label {
    display: inline-block;
    color: $link-fg;
    font-weight: bold;
    text-align: left;
    width: 60%;
}

.record .med_field .value {
    margin-left: 20px;
    color: $value-fg;
    text-align: right;
    width: 40%;
}

/*
 * Margin top eats the overflow from the columns since the columns overrun the bottom
 * of the table due to the headers pushing the 100% sized divs below the bottom.
 */
.footer {
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
}

.record {
    margin-left: $gutter;
    margin-top: 5px;
}

.record a:link {
    color:  $link-fg;
}

.record a:hover {
    color:  $link-hover;
}

.record a:visited {
    color:  $link-fg;
}

.record td {
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 0px;
}

.record h2 {
    display: list-item;
    font-size: 14px;
    font-weight: bold;
    color: $field-fg;
    margin-above: 3px;
    margin-below: 3px;
    list-style-image: url('blue-sq-bullet.png');
}

$section-value-fg: lighten($value-fg, 30%);

.record .simple_value {
    font-size: 12px;
    color: $section-value-fg;
}

.record .label {
    font-weight: normal;
    font-size: 11px;
}

.record .lab_value {
    color: $fg;
    font-size: 10px;
    font-weight: normal;
    margin-left: 20px;
}

.record .out-of-range-value {
    color: $out-of-range-value;
}

.record .value {
    font-size: 10px;
}