@import 'common';

.patient {
  margin-left: $gutter;
}

.labeled_field {
    display: inline-block;
    margin-right: 60px;
}

.labeled_field .label {
    display: inline-block;
    color: $field-fg;
    font-weight: bold;
}

#patient_name {
    font-size: 16px;
    font-weight: bold;
}

.labeled_field .value {
    margin-left: 20px;
    color: $value-fg;
}

#vitals_display {
    margin-top: 20px;
    width: 95%;
    padding-left: 0;
    margin-right: 100px;
}

#vitals_display td {
    width: 33%;
    text-align: left;
    padding-left: 0px;
    padding-right: $gutter;
    vertical-align: top;
    background-color: #F5F5F5;
}

#vitals {
    font-style: italic;
    font-size: smaller;
}

#record_display {
    width: 100%;
    height: 500px;
    padding-left: 0;
    padding-right: $gutter;
}

#record_display tr {
    min-height: 500px;
}

#record_display td:first-child {
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: top;
}

#record_display td {
    padding-left: $gutter;
    padding-right: 0px;
    vertical-align: top;
    width: 33%;
}

#record_display h1 {
    font-size: 13px;
    text-align: center;
}

#record_display .labeled_field {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#record_display .labeled_field .label {
    display: inline-block;
    color: $link-fg;
    font-weight: bold;
    text-align: left;
    width: 60%;
}

#record_display .labeled_field .value {
    margin-left: 20px;
    color: $value-fg;
    text-align: right;
    width: 40%;
}

#record_display .med_field {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#record_display .med_field .label {
    display: inline-block;
    color: $link-fg;
    font-weight: bold;
    text-align: left;
    width: 60%;
}

#record_display .med_field .value {
    margin-left: 20px;
    color: $value-fg;
    text-align: right;
    width: 40%;
}

/*
 * Margin top eats the overflow from the columns since the columns overrun the bottom
 * of the table due to the headers pushing the 100% sized divs below the bottom.
 */
.footer {
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
}

.record {
    margin-left: $gutter;
    margin-top: 5px;
}

.record a:link {
    color:  $link-fg;
}

.record a:hover {
    color:  $link-hover;
}

.record a:visited {
    color:  $link-fg;
}

.section {
    border: 1px solid gray;
    background-color: #EEE;
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 0px;
}

.section h2 {
    font-size: 12px;
    font-weight: bold;
    color: $field-fg;
    margin-above: 3px;
    margin-below: 3px;
}

$section-value-fg: lighten($value-fg, 30%);

.section .simple_value {
    font-size: 12px;
    color: $section-value-fg;
}

.section .label {
    font-weight: normal;
    font-size: 11px;
}

.section .lab_value {
    color: $section-value-color;
    font-size: 10px;
    font-weight: normal;
    margin-left: 20px;
}

.section .value {
    font-size: 10px;
}