<div id="page_header">
  <a href="#">Logout</a>
  <a href="#">Settings</a>
  <a href="/audit_logs">Audit Log</a>
  <a href="#">Messages [1]</a>
  <span id="logo">REST+</span>
  <span id="user">Welcome, <%= current_user.username %></span>
</div>
<div id='breadcrumbs'><%= breadcrumbs %></div>
