<%
   def breadcrumbs
     if controller.respond_to?(:breadcrumbs)
       controller.breadcrumbs
     else
       []
     end
   end
 %>
<div id="page_header">
  <% unless current_user.nil? || current_user.username.nil? %>
  <a href="/users/sign_out">Logout</a>
  <a href="/settings">Settings</a>
  <a href="/audit_logs">Audit Log</a>
  <a href="/notifications">Alerts</a>
  <% end %>
  <span id="logo">REST<span id="sublogo"><B>+</B> Pilot</span></span>
 <% unless current_user.nil? || current_user.username.nil? %>
  <span id="user">Welcome, <%= current_user.username %></span>
  <% end %>
</div>
<div id='breadcrumbs'><%= show_breadcrumbs %></div>
